<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <test name="API">
        <classes>
            <class name="tests.api.GetPostsTest"/>
            <class name="tests.api.GetPostWithIdTest"/>
            <class name="tests.api.GetPostWithResponseBodyEmptyTest"/>
            <class name="tests.api.CreatePostTest"/>
            <class name="tests.api.GetUsersTest"/>
            <class name="tests.api.GetUserWithIdTest"/>
        </classes>
    </test>
</suite>